<section class="pricing-page" dir="rtl">

  <div class="hero-glow"></div>

  <div class="pricing-hero">

    <h1>
      ابدأ مجاناً
      <br />
      واكتشف قوة بياناتك
    </h1>

    <p>
      بصيرة متاحة حالياً مجاناً خلال المرحلة التجريبية.
      ارفع ملفاتك واستمتع بكامل المزايا دون أي تكلفة.
    </p>

  </div>

  <div class="pricing-grid">

    <!-- FREE PLAN -->
    <div class="pricing-card featured">

      <div class="plan-badge">
        الخطة الحالية
      </div>

      <h2>الخطة التجريبية</h2>

      <div class="price">
        مجانية
      </div>

      <ul>
        <li>  <span class="icon check">
    <img src="/icons/tick-circle.svg">
  </span>
   رفع ملفات Excel و CSV</li>
        <li> <span class="icon check">
    <img src="/icons/tick-circle.svg">
  </span> تحليل تلقائي للبيانات</li>
        <li> <span class="icon check">
    <img src="/icons/tick-circle.svg">
  </span> مؤشرات أداء KPI</li>
        <li> <span class="icon check">
    <img src="/icons/tick-circle.svg">
  </span> رسوم بيانية تفاعلية</li>
        <li> <span class="icon check">
    <img src="/icons/tick-circle.svg">
  </span> تقارير ذكية بالعربية</li>
        <li> <span class="icon check">
    <img src="/icons/tick-circle.svg">
  </span> دعم Multi Sheets</li>
        <li> <span class="icon check">
    <img src="/icons/tick-circle.svg">
  </span> تصدير PDF</li>
        <li> <span class="icon check">
    <img src="/icons/tick-circle.svg">
  </span> تصدير PNG</li>
      </ul>

      <button class="primary-btn">
        ابدأ الآن مجاناً
      </button>

    </div>

    <!-- PRO PLAN -->
    <div class="pricing-card future locked">

      <div class="plan-badge future-badge">
        قريباً
      </div>

      <h2>الخطة الاحترافية</h2>

      <div class="price-soon">
        Coming Soon
      </div>

      <ul>
        <li><span class="icon check">
    <img src="/icons/lock.svg">
  </span> حفظ المشاريع</li>
        <li><span class="icon check">
    <img src="/icons/lock.svg">
  </span> مشاركة التقارير</li>
        <li><span class="icon check">
    <img src="/icons/lock.svg">
  </span> إدارة فرق العمل</li>
        <li><span class="icon check">
    <img src="/icons/lock.svg">
  </span> تقارير مخصصة</li>
        <li><span class="icon check">
    <img src="/icons/lock.svg">
  </span> تحليلات متقدمة</li>
        <li><span class="icon check">
    <img src="/icons/lock.svg">
  </span> لوحات تحكم محفوظة</li>
      </ul>

      <button class="primary-btn disabled">
        قريباً
      </button>

    </div>

  </div>

</section>